.container {
    margin: 48px auto;
    width: 1312px;
}

.title {
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 28px;
}

.name {
    color: #101828;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.camperRatingLocationPriceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.camperRatingLocationContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.camperLocationContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.camperRatingContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.camperPrice {
    font-size: 24px;
    font-weight: 600;
    font-family: Inter, sans-serif;
    color: #101828;
    line-height: 32px;
}

/* Image gallery */
.imageGallery {
    display: flex;
    width: 1312px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 28px;
}

.imageGallery img {
    width: 292px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 10px;
    object-fit: cover;
}

/* Description */
.description {
    width: 1312px;
    color: #475467;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 60px;
}

/* Tabs Section */
.tabs {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid #DADDE1;
    margin-bottom: 44px;
}

.tab {
    padding-bottom: 24px;
    cursor: pointer;
    color: #101828;
    /* H3 */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.tab.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  border-bottom: 5px solid #E44848;
  transform: translateY(27px);
}

/* Details */
.details {
    display: flex;
    width: 631px;
    padding: 44px 52px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 10px;
    background: #F2F4F7;
}

.camperInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.camperInfoItem {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: Inter, sans-serif;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: #DADDE1;
  text-transform: capitalize;
  gap: 8px;
}

.features {
    display: flex;
    width: 527px;
    flex-direction: column;
    align-items: flex-start;
}

.featuresTitle {
    color: #101828;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border-bottom: 1px solid #DADDE1;
    width: 100%;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.featuresList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.featuresListItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.featureName, .featureValue {
    color: #101828;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.featureValue {
    text-transform: capitalize;
}

.detailsFormContainer {
    display: flex;
    flex-direction: row;
    gap: 40px;
}